@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

:root {
    /* Couleurs primaires */
    --color-primary-900: #4051B5;
    --color-primary-100: #D1D4E6;

    /* Couleurs neutres */
    --color-neutral-900: #111329;
    --color-neutral-100: #D9DCE6;

    /* Couleurs blanches */
    --color-white-400: #F5F7FC;
    --color-white-100: #FFFFFF;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-white-400);
    color: var(--color-neutral-900);
}

/* Style global des boutons */
button:focus, input:focus {
    outline: none;
}

button {
    cursor: pointer;
}
